<br />
<h3>Reset Password</h3>
<form [formGroup]="form" (ngSubmit)="onsubmit(form.value)" novalidate class="form-horizontal">
    <div class="form-group">
        <div class="col-xs-6">
            <div *ngIf="error" class="text-danger">{{error}}</div>
        </div>
    </div>            
    <div class="form-group required" [ngClass]="{ 'has-error': form.errors?.passwordCurrent }">                
        <div class="col-xs-6">            
            <label for="passwordCurrent" class="control-label">Current Password:</label>
            <input type="password" class="form-control" name="passwordCurrent" formControlName="passwordCurrent" maxlength="10" autofocus />
            <div *ngIf="form.errors?.passwordCurrent" class="text-danger">Enter a valid password</div>                    
        </div>
       </div>                
    <div class="form-group required" [ngClass]="{ 'has-error': form.errors?.passwordNew }">                
        <div class="col-xs-6">            
            <label for="passwordNew" class="control-label">New Password:</label>
            <input type="password" class="form-control" name="passwordNew" formControlName="passwordNew" maxlength="10" />
            <div *ngIf="form.errors?.passwordNew" class="text-danger">Enter a valid password</div>                    
        </div>
    </div>                            
    <div class="form-group required">                
        <div class="col-xs-6">            
            <label for="passwordVerify" class="control-label">Password (Verify):</label>
            <input type="password" class="form-control" name="passwordVerify" formControlName="passwordVerify" maxlength="10" />
        </div>
    </div>   
    <div class="btn-toolbar">                        
        <button type="submit" [disabled]="loading || form.controls.passwordCurrent.errors?.required || form.controls.passwordNew.errors?.required || form.controls.passwordVerify.errors?.required || form.errors?.passwordNew" class="btn btn-primary btn-primary-spacing">Submit</button>
        <button type="button" class="btn btn-default btn-primary-spacing" routerLink="../home">Cancel</button>            
    </div>
</form>
